@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .meals {
    width: 90%;
    max-width: 70rem;
    list-style: none;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
  }

  .box-shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  }

  .padding {
    padding: 0.5rem 2rem;
  }

  .button {
    @apply cursor-pointer bg-[#ffc404] font-[inhreit]  text-[#1f1a09] padding border border-[#ffc404] rounded-[4px];
  }

  .button:hover,
  .button:active {
    @apply bg-[#ffab04] border-[#ffab04] text-[#1f1a09];
  }

  .text-button {
    @apply bg-transparent cursor-pointer border-none text-[#ffc404] text-[1.5rem];
  }

  .text-button:hover,
  .text-button:active {
    @apply text-[#ffab04];
  }
}

@utility components {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
  min-height: 100vh;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #ffc404;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
